novel_app/assets/dsl/creater.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  icon_type: emoji
  mode: workflow
  name: creater
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/deepseek:0.0.15@725407927b04e236212083d20e92830d60fa944e42cd357ef6902c160414f6f1
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        image_file_size_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: end
      id: 1759151715295-source-1759138140959-target
      selected: false
      source: '1759151715295'
      sourceHandle: source
      target: '1759138140959'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: template-transform
      id: 1759151925879-d2112989-3424-433a-8ba6-ce2e3245bff1-1762245728748-target
      selected: false
      source: '1759151925879'
      sourceHandle: d2112989-3424-433a-8ba6-ce2e3245bff1
      target: '1762245728748'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: template-transform
        targetType: variable-aggregator
      id: 1762245807058-source-1762246004118-target
      selected: false
      source: '1762245807058'
      sourceHandle: source
      target: '1762246004118'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: template-transform
        targetType: variable-aggregator
      id: 1759151532593-source-1762246004118-target
      selected: false
      source: '1759151532593'
      sourceHandle: source
      target: '1762246004118'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: template-transform
      id: 17622467453950-97c88510-4690-44da-a5bb-cf8fc952ae69-1759156810873-target
      selected: false
      source: '17622467453950'
      sourceHandle: 97c88510-4690-44da-a5bb-cf8fc952ae69
      target: '1759156810873'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: template-transform
      id: 17622467453950-false-1759156843442-target
      selected: false
      source: '17622467453950'
      sourceHandle: 'false'
      target: '1759156843442'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: start
        targetType: if-else
      id: 1759138104711-source-1759151925879-target
      selected: false
      source: '1759138104711'
      sourceHandle: source
      target: '1759151925879'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: template-transform
      id: 1759151925879-d2112989-3424-433a-8ba6-ce2e3245bff1-1762245807058-target
      selected: false
      source: '1759151925879'
      sourceHandle: d2112989-3424-433a-8ba6-ce2e3245bff1
      target: '1762245807058'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: template-transform
      id: 1759151925879-false-1759151532593-target
      selected: false
      source: '1759151925879'
      sourceHandle: 'false'
      target: '1759151532593'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: if-else
      id: 1759151925879-false-17622467453950-target
      selected: false
      source: '1759151925879'
      sourceHandle: 'false'
      target: '17622467453950'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: variable-aggregator
        targetType: llm
      id: 1762246004118-source-1759151715295-target
      selected: false
      source: '1762246004118'
      sourceHandle: source
      target: '1759151715295'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: template-transform
        targetType: variable-aggregator
      id: 1759156810873-source-1762268148564-target
      selected: false
      source: '1759156810873'
      sourceHandle: source
      target: '1762268148564'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: template-transform
        targetType: variable-aggregator
      id: 1759156843442-source-1762268148564-target
      selected: false
      source: '1759156843442'
      sourceHandle: source
      target: '1762268148564'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: template-transform
      id: 1759151925879-6fa240b8-f5f2-4152-9a71-49a2ecc29bdc-1765793334024-target
      selected: false
      source: '1759151925879'
      sourceHandle: 6fa240b8-f5f2-4152-9a71-49a2ecc29bdc
      target: '1765793334024'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: template-transform
        targetType: variable-aggregator
      id: 1765793334024-source-1762246004118-target
      selected: false
      source: '1765793334024'
      sourceHandle: source
      target: '1762246004118'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: template-transform
      id: 1759151925879-6fa240b8-f5f2-4152-9a71-49a2ecc29bdc-1765793427064-target
      selected: false
      source: '1759151925879'
      sourceHandle: 6fa240b8-f5f2-4152-9a71-49a2ecc29bdc
      target: '1765793427064'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: template-transform
        targetType: variable-aggregator
      id: 1765793427064-source-1762268148564-target
      selected: false
      source: '1765793427064'
      sourceHandle: source
      target: '1762268148564'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: template-transform
      id: 1759151925879-ffa133ba-8fe7-4bb9-89be-a2c28afde46b-1767087675935-target
      selected: false
      source: '1759151925879'
      sourceHandle: ffa133ba-8fe7-4bb9-89be-a2c28afde46b
      target: '1767087675935'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: template-transform
      id: 1759151925879-ffa133ba-8fe7-4bb9-89be-a2c28afde46b-1767087711061-target
      selected: false
      source: '1759151925879'
      sourceHandle: ffa133ba-8fe7-4bb9-89be-a2c28afde46b
      target: '1767087711061'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: template-transform
        targetType: variable-aggregator
      id: 1767087675935-source-1762246004118-target
      selected: false
      source: '1767087675935'
      sourceHandle: source
      target: '1762246004118'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: template-transform
        targetType: variable-aggregator
      id: 1767087711061-source-1762268148564-target
      selected: false
      source: '1767087711061'
      sourceHandle: source
      target: '1762268148564'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: template-transform
        targetType: variable-aggregator
      id: 1762245728748-source-1762268148564-target
      selected: false
      source: '1762245728748'
      sourceHandle: source
      target: '1762268148564'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: variable-aggregator
        targetType: llm
      id: 1762268148564-source-1759151715295-target
      selected: false
      source: '1762268148564'
      sourceHandle: source
      target: '1759151715295'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: template-transform
      id: 1759151925879-c6f3af15-0604-4717-9bb9-1e3ae8878ed7-1767089064485-target
      selected: false
      source: '1759151925879'
      sourceHandle: c6f3af15-0604-4717-9bb9-1e3ae8878ed7
      target: '1767089064485'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: template-transform
      id: 1759151925879-c6f3af15-0604-4717-9bb9-1e3ae8878ed7-1767089068527-target
      selected: false
      source: '1759151925879'
      sourceHandle: c6f3af15-0604-4717-9bb9-1e3ae8878ed7
      target: '1767089068527'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: template-transform
        targetType: variable-aggregator
      id: 1767089064485-source-1762246004118-target
      selected: false
      source: '1767089064485'
      sourceHandle: source
      target: '1762246004118'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: template-transform
        targetType: variable-aggregator
      id: 1767089068527-source-1762268148564-target
      selected: false
      source: '1767089068527'
      sourceHandle: source
      target: '1762268148564'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: template-transform
      id: 1759151925879-c414a0ea-9287-453f-ba61-4b79507e8dd7-1767686318679-target
      source: '1759151925879'
      sourceHandle: c414a0ea-9287-453f-ba61-4b79507e8dd7
      target: '1767686318679'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: template-transform
      id: 1759151925879-c414a0ea-9287-453f-ba61-4b79507e8dd7-1767686331208-target
      source: '1759151925879'
      sourceHandle: c414a0ea-9287-453f-ba61-4b79507e8dd7
      target: '1767686331208'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: template-transform
        targetType: variable-aggregator
      id: 1767686331208-source-1762268148564-target
      source: '1767686331208'
      sourceHandle: source
      target: '1762268148564'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: template-transform
        targetType: variable-aggregator
      id: 1767686318679-source-1762246004118-target
      source: '1767686318679'
      sourceHandle: source
      target: '1762246004118'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: template-transform
      id: 1759151925879-287da9d9-4256-46e1-95b7-193441f0ea84-17695293591730-target
      source: '1759151925879'
      sourceHandle: 287da9d9-4256-46e1-95b7-193441f0ea84
      target: '17695293591730'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: template-transform
        targetType: variable-aggregator
      id: 17695293591730-source-1762246004118-target
      source: '17695293591730'
      sourceHandle: source
      target: '1762246004118'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: template-transform
        targetType: template-transform
      id: 17695293591730-source-17695295483490-target
      source: '17695293591730'
      sourceHandle: source
      target: '17695295483490'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: template-transform
        targetType: variable-aggregator
      id: 17695295483490-source-1762268148564-target
      source: '17695295483490'
      sourceHandle: source
      target: '1762268148564'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: 开始
        type: start
        variables:
        - default: ''
          hint: ''
          label: 用户输入
          max_length: 4800
          options: []
          placeholder: ''
          required: false
          type: paragraph
          variable: user_input
        - default: ''
          hint: ''
          label: background_setting
          max_length: 480000
          options: []
          placeholder: ''
          required: false
          type: paragraph
          variable: background_setting
        - default: ''
          hint: ''
          label: history_chapters_content
          max_length: 100000
          options: []
          placeholder: ''
          required: false
          type: paragraph
          variable: history_chapters_content
        - default: ''
          hint: ''
          label: current_chapter_content
          max_length: 200000
          options: []
          placeholder: ''
          required: false
          type: paragraph
          variable: current_chapter_content
        - default: ''
          hint: ''
          label: next_chapter_overview
          max_length: 5000
          options: []
          placeholder: ''
          required: false
          type: paragraph
          variable: next_chapter_overview
        - default: ''
          hint: ''
          label: ai_writer_setting
          max_length: 4800
          options: []
          placeholder: ''
          required: false
          type: paragraph
          variable: ai_writer_setting
        - hint: ''
          label: cmd
          max_length: 48
          options: []
          placeholder: ''
          required: false
          type: text-input
          variable: cmd
        - default: ''
          hint: ''
          label: 选择段落
          max_length: 48000
          options: []
          placeholder: ''
          required: false
          type: paragraph
          variable: choice_content
        - default: ''
          hint: ''
          label: 角色
          max_length: 48000
          options: []
          placeholder: ''
          required: false
          type: paragraph
          variable: roles
        - default: ''
          hide: true
          hint: ''
          label: 大纲
          max_length: 480000
          options: []
          placeholder: ''
          required: false
          type: paragraph
          variable: outline
        - default: ''
          hint: ''
          label: 细纲
          max_length: 480000
          options: []
          placeholder: ''
          required: false
          type: paragraph
          variable: outline_item
        - default: ''
          hint: ''
          label: 场景
          max_length: 4800
          options: []
          placeholder: ''
          required: false
          type: paragraph
          variable: scene
        - default: ''
          hint: ''
          label: chat_history
          max_length: 480000
          options: []
          placeholder: ''
          required: false
          type: paragraph
          variable: chat_history
      height: 419
      id: '1759138104711'
      position:
        x: -1.428571428571388
        y: 1.428571428571388
      positionAbsolute:
        x: -1.428571428571388
        y: 1.428571428571388
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        outputs:
        - value_selector:
          - '1759151715295'
          - text
          value_type: string
          variable: content
        selected: false
        title: 结束
        type: end
      height: 86
      id: '1759138140959'
      position:
        x: 2490.6942844201926
        y: 167
      positionAbsolute:
        x: 2490.6942844201926
        y: 167
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        selected: false
        template: "```你的设定：\r\n{{ setting }}\r\n\r\n在编写内容的时候，不要出现  markdown 或者 xml\
          \ 标记，就是纯文本内容，在你输出的内容的最后，不要写什么伏笔或者总结，直接突兀结束就可以。\r\n```\r\n{% if background\
          \ %}\r\n```故事设定：\r\n{{ background }}\r\n```\r\n{% endif %}\r\n{% if history\
          \ %}\r\n```前几章内容\r\n{{ history }}\r\n```\r\n{% endif %}\r\n\r\n{% if content\
          \ %}\r\n```当前章节内容\r\n{{ content }}\r\n```\r\n{% endif %}\r\n{% if roles\
          \ %}\r\n```\r\n以下是出场人物设定：\r\n{{ roles }}\r\n```\r\n{% endif %}\r\n{% if\
          \ next_preview %}\r\n```下一章剧情梗概，以下内容是提示你当前章节之后会发生的事情，你现在写的这章剧情不要包含这部分内容，也就是说，你的输出中不要出现这里的剧情和情节\r\
          \n{{ next_preview }}\r\n```\r\n{% endif %}"
        title: 正常撰写
        type: template-transform
        variables:
        - value_selector:
          - '1759138104711'
          - ai_writer_setting
          value_type: string
          variable: setting
        - value_selector:
          - '1759138104711'
          - background_setting
          value_type: string
          variable: background
        - value_selector:
          - '1759138104711'
          - history_chapters_content
          value_type: string
          variable: history
        - value_selector:
          - '1759138104711'
          - current_chapter_content
          value_type: string
          variable: content
        - value_selector:
          - '1759138104711'
          - next_chapter_overview
          value_type: string
          variable: next_preview
        - value_selector:
          - '1759138104711'
          - roles
          value_type: string
          variable: roles
      height: 50
      id: '1759151532593'
      position:
        x: 704
        y: 258.57142857142856
      positionAbsolute:
        x: 704
        y: 258.57142857142856
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            max_tokens: 8192
            thinking: false
          mode: chat
          name: deepseek-v4-pro
          provider: langgenius/deepseek/deepseek
        prompt_config:
          jinja2_variables:
          - value_selector:
            - '1759138104711'
            - user_input
            value_type: string
            variable: now_query
          - value_selector:
            - '1759138104711'
            - current_chapter_content
            value_type: string
            variable: content
        prompt_template:
        - id: 6c56baad-daf3-47c3-a461-bfe1eb7e7363
          role: system
          text: '{{#1762246004118.output#}}'
        - edition_type: basic
          id: e6334f6c-477e-44d5-b81f-0abdd2646c9f
          jinja2_text: "{% if content %}\r\n 按照我的要求进行调整，除非要求你进行删除或修改，否则你不要删减小说内容：\r\
            \n {{ now_query }}\r\n{% else %}\r\n  按照我的要求，创建这一章小说内容\r\n  {{ now_query\
            \ }}\r\n{% endif %}"
          role: user
          text: '{{#1762268148564.output#}}'
        reasoning_format: separated
        selected: true
        structured_output_enabled: false
        title: LLM
        type: llm
        vision:
          enabled: false
      height: 86
      id: '1759151715295'
      position:
        x: 2149.796189613462
        y: 167
      positionAbsolute:
        x: 2149.796189613462
        y: 167
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        cases:
        - case_id: d2112989-3424-433a-8ba6-ce2e3245bff1
          conditions:
          - comparison_operator: is
            id: f0827ee1-0204-4ea0-9d88-2a3aa9014d37
            value: 总结
            varType: string
            variable_selector:
            - '1759138104711'
            - cmd
          id: d2112989-3424-433a-8ba6-ce2e3245bff1
          logical_operator: and
        - case_id: 6fa240b8-f5f2-4152-9a71-49a2ecc29bdc
          conditions:
          - comparison_operator: contains
            id: 2e5b84b9-812d-4ead-b955-33736f014e9b
            value: 场景描写
            varType: string
            variable_selector:
            - '1759138104711'
            - cmd
          id: 6fa240b8-f5f2-4152-9a71-49a2ecc29bdc
          logical_operator: and
        - case_id: ffa133ba-8fe7-4bb9-89be-a2c28afde46b
          conditions:
          - comparison_operator: contains
            id: c89c20a6-8055-4ac4-b85c-29975af76b63
            value: 生成大纲
            varType: string
            variable_selector:
            - '1759138104711'
            - cmd
          id: ffa133ba-8fe7-4bb9-89be-a2c28afde46b
          logical_operator: and
        - case_id: c6f3af15-0604-4717-9bb9-1e3ae8878ed7
          conditions:
          - comparison_operator: contains
            id: f8e1af23-d4c2-4b32-abab-455566cd5b37
            value: 生成细纲
            varType: string
            variable_selector:
            - '1759138104711'
            - cmd
          id: c6f3af15-0604-4717-9bb9-1e3ae8878ed7
          logical_operator: and
        - case_id: c414a0ea-9287-453f-ba61-4b79507e8dd7
          conditions:
          - comparison_operator: contains
            id: d2bb8e29-cb3f-4793-91eb-7a7c4bbade2f
            value: 聊天
            varType: string
            variable_selector:
            - '1759138104711'
            - cmd
          id: c414a0ea-9287-453f-ba61-4b79507e8dd7
          logical_operator: and
        - case_id: 287da9d9-4256-46e1-95b7-193441f0ea84
          conditions:
          - comparison_operator: contains
            id: 09f6bf0b-ca0a-459b-bf95-13dcdcdfb178
            value: 设定总结
            varType: string
            variable_selector:
            - '1759138104711'
            - cmd
          id: 287da9d9-4256-46e1-95b7-193441f0ea84
          logical_operator: and
        selected: false
        title: 条件分支
        type: if-else
      height: 362
      id: '1759151925879'
      position:
        x: 336.28571428571433
        y: 85.85714285714289
      positionAbsolute:
        x: 336.28571428571433
        y: 85.85714285714289
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        selected: false
        template: "现在我需要你修改以下内容\r\n```\r\n{{ choice_content }}\r\n```\r\n按照以下要求进行特写：\r\
          \n```\r\n{{ user_input }}\r\n```\r\n只需要输出可以直接替换内容即可"
        title: 特写
        type: template-transform
        variables:
        - value_selector:
          - '1759138104711'
          - user_input
          value_type: string
          variable: user_input
        - value_selector:
          - '1759138104711'
          - choice_content
          variable: choice_content
      height: 50
      id: '1759156810873'
      position:
        x: 1066
        y: 343
      positionAbsolute:
        x: 1066
        y: 343
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        selected: false
        template: "{% if content %}\r\n 按照我的要求进行调整，除非要求你进行删除或修改，否则你不要删减小说内容：\r\n {{\
          \ now_query }}\r\n{% else %}\r\n  按照我的要求，创建这一章小说内容，你需要结合前文续写。\r\n  {{ now_query\
          \ }}\r\n{% endif %}"
        title: 用户要求
        type: template-transform
        variables:
        - value_selector:
          - '1759138104711'
          - user_input
          value_type: string
          variable: now_query
        - value_selector:
          - '1759138104711'
          - current_chapter_content
          value_type: string
          variable: content
      height: 50
      id: '1759156843442'
      position:
        x: 1066
        y: 474
      positionAbsolute:
        x: 1066
        y: 474
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        selected: false
        template: 总结当前章节的内容
        title: 总结
        type: template-transform
        variables: []
      height: 50
      id: '1762245728748'
      position:
        x: 1032.2857142857142
        y: 14.857142857142833
      positionAbsolute:
        x: 1032.2857142857142
        y: 14.857142857142833
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        selected: false
        template: "帮我总结缩写当前章节小说内容，不要用markdown 格式，不要遗漏任何情节\r\n\r\n```当前章节小说内容：\r\n\
          {{current_chapter_content}}\r\n```"
        title: 总结模板
        type: template-transform
        variables:
        - value_selector:
          - '1759138104711'
          - current_chapter_content
          value_type: string
          variable: current_chapter_content
      height: 50
      id: '1762245807058'
      position:
        x: 704
        y: 127.65427975110623
      positionAbsolute:
        x: 704
        y: 127.65427975110623
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        output_type: string
        selected: false
        title: system_prompt
        type: variable-aggregator
        variables:
        - - '1762245807058'
          - output
        - - '1759151532593'
          - output
        - - '1765793334024'
          - output
        - - '1767087675935'
          - output
        - - '1767089064485'
          - output
        - - '1767686318679'
          - output
        - - '17695293591730'
          - output
      height: 264
      id: '1762246004118'
      position:
        x: 1831.7142857142856
        y: 101.85714285714283
      positionAbsolute:
        x: 1831.7142857142856
        y: 101.85714285714283
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        cases:
        - case_id: 97c88510-4690-44da-a5bb-cf8fc952ae69
          conditions:
          - comparison_operator: is
            id: 2909b544-6561-4627-8c10-6f92089e4675
            value: 特写
            varType: string
            variable_selector:
            - '1759138104711'
            - cmd
          id: 97c88510-4690-44da-a5bb-cf8fc952ae69
          logical_operator: and
        selected: false
        title: 条件分支 (1)
        type: if-else
      height: 122
      id: '17622467453950'
      position:
        x: 704
        y: 391
      positionAbsolute:
        x: 704
        y: 391
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        output_type: string
        selected: false
        title: 要求
        type: variable-aggregator
        variables:
        - - '1759156810873'
          - output
        - - '1759156843442'
          - output
        - - '1765793427064'
          - output
        - - '1767087711061'
          - output
        - - '1762245728748'
          - output
        - - '1767089068527'
          - output
        - - '1767686331208'
          - output
        - - '17695295483490'
          - output
      height: 290
      id: '1762268148564'
      position:
        x: 1697.5780876729264
        y: 556.7460732160661
      positionAbsolute:
        x: 1697.5780876729264
        y: 556.7460732160661
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        selected: false
        template: "你是一个专业的文字摄影师。请根据用户提供的小说内容，生成一段纯粹、客观的画面描写。\r\n你的任务是：用文字“拍摄”下小说中描述的一幕，只描写一个旁观者或主角主观视角下能直接看到的具体事物，不描写任何人物的内心感受、想法或抽象情绪以及不可见的内容。\r\
          \n\r\n**核心要求：**\r\n1.  **视角固定**：选择一个视角（旁观者或主角），并贯穿始终。\r\n2.  **纯粹描写**：只描写可见的**场景、人物、动作、物品、环境光照**等物理存在和可感知的细节。\r\
          \n3.  **物理关系**：清晰描述物品、人物与环境之间的空间位置关系（如：在...上、旁边、远处、悬挂着）。\r\n4.  **感官细节**：侧重于视觉（形状、颜色、光影），不可以描述不可见的内容比如嗅觉，听觉。\r\
          \n5.  **平铺直叙**：语言风格平实、直接，像摄影机镜头一样记录。\r\n\r\n**操作步骤：**\r\n1.  仔细阅读用户提供的小说内容\
          \ \r\n2.  锁定当前小说描述的场景或瞬间，识别当前场景中出现的人物角色，如果有小说中出现详细的外貌描述，说明这个人物非常重要，需要重点描写，小说中越靠后的用户越重要。\r\
          \n3.  在脑海中构建这个画面，像布置摄影棚一样，厘清所有元素的物理位置。\r\n4.  用文字依次或综合地描写：\r\n    *   **场景**：事情发生的大环境（如：破旧的阁楼、喧闹的市集）。\r\
          \n    *   **人物**：画面中有谁，他们的衣着、体态、面部可见表情（仅肌肉动作，如皱眉、微笑）。\r\n    *   **动作**：人物正在进行的可见动作（如：举起杯子、快步行走、手指敲击桌面）。\r\
          \n    *   **物品**：场景中关键的物品，它们的状态、新旧、摆放方式。\r\n    *   **环境光照**：光线的来源（日光、烛火、霓虹灯）、强度、方向，以及产生的阴影、反光效果。\r\
          \n5.  将以上元素融合成一个连贯、生动、充满细节的纯文本段落。\r\n"
        title: 场景描写
        type: template-transform
        variables: []
      height: 50
      id: '1765793334024'
      position:
        x: 704
        y: 629.7142857142857
      positionAbsolute:
        x: 704
        y: 629.7142857142857
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        selected: false
        template: "以下是小说具体内容：\r\n<小说内容>\r\n{{ current_chapter_content }}\r\n</小说内容>\r\
          \n如果场景中缺少了一些人物的细节信息，那么可以从下面的 人物信息 中寻找并补充上去，在描写的优先级上是以小说内容为准\r\n<人物信息>\r\n\
          {{ roles }}\r\n</人物信息>\r\n"
        title: 场景描写-用户要求
        type: template-transform
        variables:
        - value_selector:
          - '1759138104711'
          - current_chapter_content
          value_type: string
          variable: current_chapter_content
        - value_selector:
          - '1759138104711'
          - roles
          value_type: string
          variable: roles
      height: 50
      id: '1765793427064'
      position:
        x: 704
        y: 722.142857142857
      positionAbsolute:
        x: 704
        y: 722.142857142857
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        selected: false
        template: "\r\n\r\n{% if outline %}\r\n你的工作是按照用户的要求修改以下小说大纲,\r\n<大纲>\r\n{{\
          \ outline }}\r\n</大纲>\r\n{% else %}\r\n你的工作是按照用户的要求生成一份小说大纲,大纲仅需要剧情设定，不需要进行人物设定。\r\
          \n不需要进行章节拆分，直接平铺直叙描写会发生什么事情，简略的快速描写剧情。\r\n{% endif %}\r\n{% if background_setting\
          \ %}\r\n<故事背景设定>\r\n{{ background_setting }}\r\n</故事背景设定>\r\n{% endif %}\r\
          \n"
        title: 大纲生成
        type: template-transform
        variables:
        - value_selector:
          - '1759138104711'
          - background_setting
          value_type: string
          variable: background_setting
        - value_selector:
          - '1759138104711'
          - outline
          value_type: string
          variable: outline
      height: 50
      id: '1767087675935'
      position:
        x: 704
        y: 815.6632227066823
      positionAbsolute:
        x: 704
        y: 815.6632227066823
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        selected: false
        template: "{% if outline %}\r\n按照以下要求进行大纲修改：\r\n{{ user_input }}\r\n{% else\
          \ %}\r\n按照以下要求进行大纲创作：\r\n{{ user_input }}\r\n{% endif %}\r\n"
        title: 大纲要求
        type: template-transform
        variables:
        - value_selector:
          - '1759138104711'
          - user_input
          value_type: string
          variable: user_input
        - value_selector:
          - '1759138104711'
          - outline
          value_type: string
          variable: outline
      height: 50
      id: '1767087711061'
      position:
        x: 704
        y: 911.2857142857141
      positionAbsolute:
        x: 704
        y: 911.2857142857141
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        selected: false
        template: "你需要帮助用户基于大纲和之前的剧情，帮助用户完成细纲的创作\r\n\r\n步骤：\r\n1. 阅读大纲和最近小说的剧情，分析当前剧情发展到哪里\r\
          \n2. 结合用户的需求 ，确定当前章节的主要剧情内容\r\n3. 分割出大纲中当前章节的部分\r\n4. 结合用户需求，拓展这部分大纲，生成一份细纲内容\r\
          \n\r\n要求：\r\n1. 纯文本内容，不要出现 markdown 等特殊符号标记\r\n\r\n{% if outline_item %}\r\
          \n按照用户要求进行以下细纲的修改：\r\n\r\n<细纲>\r\n{{ outline_item }}\r\n</细纲>\r\n{% else\
          \ %}\r\n{% if history_chapters_content%}\r\n\r\n<最近几章内容>\r\n{{ history_chapters_content\
          \ }}\r\n</最近几章内容>\r\n{% else %}\r\n没有历史章节，需要生成第一章的细纲\r\n{% endif %}\r\n\r\
          \n<大纲>\r\n{{ outline }}\r\n</大纲>\r\n{% endif %}"
        title: 生成细纲
        type: template-transform
        variables:
        - value_selector:
          - '1759138104711'
          - history_chapters_content
          value_type: string
          variable: history_chapters_content
        - value_selector:
          - '1759138104711'
          - outline
          value_type: string
          variable: outline
        - value_selector:
          - '1759138104711'
          - outline_item
          value_type: string
          variable: outline_item
      height: 50
      id: '1767089064485'
      position:
        x: 704
        y: 1002.2857142857141
      positionAbsolute:
        x: 704
        y: 1002.2857142857141
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        selected: false
        template: "{% if user_input %}\r\n{% if outline %}\r\n按照以下要求进行细纲修改：\r\n{{\
          \ user_input }}\r\n{% else %}\r\n按照以下要求进行细纲创作：\r\n{{ user_input }}\r\n{%\
          \ endif %}\r\n{% else %}\r\n按照大纲和历史章节的进度生成新的一章的细纲。如果没有提供历史章节，那么就说明是第一章内容。\r\
          \n{% endif %}"
        title: 细纲要求
        type: template-transform
        variables:
        - value_selector:
          - '1759138104711'
          - user_input
          value_type: string
          variable: user_input
        - value_selector:
          - '1759138104711'
          - outline_item
          value_type: string
          variable: outline
      height: 50
      id: '1767089068527'
      position:
        x: 704
        y: 1093.2857142857142
      positionAbsolute:
        x: 704
        y: 1093.2857142857142
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        selected: false
        template: "\r\n## 任务说明\r\n\r\n你是一个专业的小说沉浸式体验AI助手，负责扮演多个角色与用户所扮演的角色进行实时互动。你需要根据剧本、角色策略和用户输入，生成符合角色设定的对话和旁白。\r\
          \n\r\n## 输入信息\r\n\r\n```\r\n角色信息：\r\n{{ roles }}\r\n\r\n当前剧本：\r\n{{ scene\
          \ }}\r\n\r\n历史对话：\r\n{{ chat_history }}\r\n\r\n用户扮演的角色：\r\n{{ choice_content\
          \ }}\r\n```\r\n\r\n## 核心规则\r\n\r\n### 1. 输出格式要求\r\n\r\n**你必须严格遵循以下格式规则：**\r\
          \n\r\n- **角色对话**：必须使用XML标签格式 `<角色名>对话内容</角色名>`\r\n- **旁白内容**：不使用任何标签包裹，直接输出纯文本\r\
          \n- **禁止混用**：绝对不要在标签外写对话，也不要在标签内写旁白\r\n\r\n### 2. 格式示例\r\n\r\n```\r\n月光如水，营帐内烛火摇曳。\r\
          \n\r\n<周维清>你可知罪？</周维清>\r\n\r\n营帐内一片死寂，只有烛火偶尔发出噼啪的声响。\r\n\r\n<上官冰儿>周维清，你这是什么意思？</上官冰儿>\r\
          \n\r\n周维清冷笑一声，目光如刀。\r\n```\r\n\r\n### 3. 角色扮演要求\r\n\r\n- **严格遵循角色策略**：每个角色的性格、语言习惯、情感羁绊必须与角色策略一致\r\
          \n- **保持角色独特性**：不同角色的说话方式、用词习惯、语气要有明显区别\r\n- **符合场景设定**：对话和旁白要符合当前剧本的氛围和情境\r\
          \n- **自然流畅**：对话要有逻辑连贯性，旁白要生动细腻\r\n\r\n### 4. 旁白要求\r\n\r\n- **描写细节**：包含角色的形体动作、神态表情、环境氛围\r\
          \n- **画面感强**：用具体的视觉、听觉、触觉等感官描写\r\n- **节奏把控**：旁白不宜过长，适时的旁白能增强对话的张力\r\n- **辅助对话**：旁白要为对话服务，帮助理解角色的情绪和动作\r\
          \n\r\n### 5. 对话要求\r\n\r\n- **语言自然**：对话要符合角色的身份和文化背景\r\n- **情感真实**：角色要有喜怒哀乐，不要机械地说话\r\
          \n- **互动性强**：角色之间要有互动，不要各自独白\r\n- **回应用户**：如果用户有输入，必须在对话或旁白中回应用户的行为或话语\r\
          \n\r\n### 6. 历史记录处理\r\n\r\n- **保持连贯**：参考历史对话内容，确保剧情连贯不矛盾\r\n- **推动剧情**：根据历史记录合理推进剧情发展\r\
          \n- **角色记忆**：记住之前发生的事件和对话内容\r\n\r\n## 特殊场景处理\r\n\r\n### 用户输入行为时\r\n\r\n\
          如果用户输入了行为（如\"打了他一巴掌\"），必须在旁白中描述：\r\n- 行为的结果（是否打中、对方的反应）\r\n- 场景的变化\r\n-\
          \ 其他角色的反应\r\n\r\n\r\n\r\n## 禁止事项\r\n\r\n1. **绝对禁止**在 `<>` 标签内写任何非对话内容（如旁白、动作描述）\r\
          \n2. **绝对禁止**在标签外写角色对话\r\n3. **禁止OOC**（Out Of Character）：角色行为必须符合设定\r\n\
          4. **禁止**破坏剧情连贯性\r\n5. **禁止**输出过多内容导致用户无法互动\r\n\r\n## 质量标准\r\n\r\n- ✅ 角色性格鲜明，符合策略设定\r\
          \n- ✅ 对话自然流畅，符合角色身份\r\n- ✅ 旁白细腻生动，画面感强\r\n- ✅ 格式规范，严格遵循XML标签规则\r\n- ✅ 剧情连贯，与历史记录一致\r\
          \n- ✅ 回应用户，互动性强\r\n\r\n\r\n"
        title: 聊天
        type: template-transform
        variables:
        - value_selector:
          - '1759138104711'
          - roles
          value_type: string
          variable: roles
        - value_selector:
          - '1759138104711'
          - scene
          variable: scene
        - value_selector:
          - '1759138104711'
          - chat_history
          variable: chat_history
        - value_selector:
          - '1759138104711'
          - choice_content
          variable: choice_content
      height: 50
      id: '1767686318679'
      position:
        x: 704
        y: 1184.2857142857142
      positionAbsolute:
        x: 704
        y: 1184.2857142857142
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        selected: false
        template: '{{ arg1 }}'
        title: 用户输入
        type: template-transform
        variables:
        - value_selector:
          - '1759138104711'
          - user_input
          value_type: string
          variable: arg1
      height: 50
      id: '1767686331208'
      position:
        x: 704
        y: 1275.2857142857142
      positionAbsolute:
        x: 704
        y: 1275.2857142857142
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        selected: false
        template: "帮我总结缩写小说背景设定内容，梳理成更好阅读的行文，不要遗漏重要设定，需要梳理的符合背景设定的格式，不重要内容可以忽略。\r\n\
          ```当前小说设定：\r\n{{current_chapter_content}}\r\n```"
        title: 总结设定
        type: template-transform
        variables:
        - value_selector:
          - '1759138104711'
          - background_setting
          value_type: string
          variable: current_chapter_content
      height: 50
      id: '17695293591730'
      position:
        x: 704
        y: 183.3956732556372
      positionAbsolute:
        x: 704
        y: 183.3956732556372
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        selected: false
        template: 总结当前小说背景设定
        title: 总结 (1)
        type: template-transform
        variables: []
      height: 50
      id: '17695295483490'
      position:
        x: 1016.9824193827856
        y: 101.85714285714283
      positionAbsolute:
        x: 1016.9824193827856
        y: 101.85714285714283
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    viewport:
      x: -910.3409254063467
      y: 89.93269068770223
      zoom: 0.9075190915774233
  rag_pipeline_variables: []
